<div class="container is-fullhd fixed-grid has-3-cols has-1-cols-mobile p-4">
  <p class="title is-1 has-text-black">{{ "education.title" | translate }}</p>
  <hr />
  <div class="custom-theme-timeline">
    <ng-template #eventCustomTemplate let-event="event" let-index="index">
      <div class="card fadein">
        <div class="card-image">
          <figure class="image is-4by3">
            <!-- Acceso a la URL de la imagen específica de cada evento -->
            <img
              [src]="event.eventInfo['imageUrl']"
              alt="{{ event.eventInfo['title'] }}"
            />
          </figure>
        </div>
        <div class="card-content">
          <p class="subtitle is-6">{{ event.eventInfo["description"] }}</p>
          <footer class="card-footer">
            <!-- Usando routerLink del evento actual -->
            <a
              class="button card-footer-item is-success"
              [routerLink]="event.eventInfo['routerLink']"
              routerLinkActive="router-link-active"
            >
              {{ "seemore" | translate }}
            </a>
          </footer>
        </div>
      </div>
    </ng-template>
    <ng-template #dateInstantCustomTemplate let-item="item">
      <p class="title is-4 has-text-black">
        {{ item["smallTitle"] }}
      </p>
    </ng-template>
    <ngx-timeline
      [events]="events"
      [langCode]="'es'"
      [enableAnimation]="true"
      [reverseOrder]="true"
      [groupEvent]="groupEvent"
      [orientation]="orientation"
      [changeSide]="changeSide"
      [eventCustomTemplate]="eventCustomTemplate"
      [dateInstantCustomTemplate]="dateInstantCustomTemplate"
    ></ngx-timeline>
  </div>
</div>
