img {
  object-fit: cover;
}

.fixed-grid .card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card-content .content {
  flex-grow: 1;
}

.card-footer {
  margin-top: auto;
}

.scroll-indicator {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  cursor: pointer;
  color: black;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #000;
  margin: 5px auto;
}
