.arcSvg {
  fill: white;
}

.logo:active .arcSvg {
  fill-opacity: 0.5;
}

.navbar-brand {
  flex-grow: 1;
  justify-content: center;
}

.navbar-start {
  flex-grow: 1;
  justify-content: center;
}

.navbar-burger {
  color: black;
  background-color: white;
}

@media (max-width: 767px) {
  fa-icon {
    margin: 4px;
  }
}

.language-toggle {
  padding-left: 5px;
}

@media (min-width: 1440px) and (max-width: 1919px) {
  .navbar-end,
  .language-toggle {
    display: none;
  }
}
