<section class="hero is-fullheight is-default is-bold fadein">
  <div class="container is-fullhd fixed-grid has-3-cols has-1-cols-mobile p-4">
    <p class="title has-text-black">{{ "about.title" | translate }}</p>
    <p class="subtitle">{{ "about.subtitle" | translate }}</p>
    <hr />
    <p
      class="subtitle has-text-black"
      [innerHTML]="'about.description1' | translate"
    ></p>
    <p
      class="subtitle has-text-black"
      [innerHTML]="'about.description2' | translate"
    ></p>
    <p
      class="subtitle has-text-black"
      [innerHTML]="'about.description3' | translate"
    ></p>
    <div class="p-1">
      <a
        class="title has-text-info is-underlined"
        [innerHTML]="'about.repository' | translate"
        href="https://github.com/lotusotho/portfolio-angular-bulma"
        target="_blank"
      ></a>
    </div>
  </div>
</section>
