<section class="hero is-fullheight is-default is-bold fadein">
  <div class="container is-fullhd fixed-grid has-3-cols has-1-cols-mobile p-4">
    <p class="title is-3 has-text-black">ℹ️ Información de Contacto:</p>
    <p class="subtitle">
      Aquí dejo algunos recursos para poder comunicarse conmigo:
    </p>
    <hr />
    <p class="subtitle is-4 has-text-black">
      Correo Electrónico 📧:
      <a href="mailto:arc.2dominguez@gmail.com"
        >arc.2dominguez&commat;gmail.com</a
      >
    </p>
    <p class="subtitle is-4 has-text-black">
      Teléfono 📱:
      <a href="tel:+34611602882">+34-611-602-882</a>
    </p>
    <p class="subtitle is-4 has-text-black">
      LinkedIn
      <img
        src="/assets/icons/linkedinIcon.svg"
        alt="Icono LinkedIn"
        width="25px"
      />
      :
      <a
        href="https://www.linkedin.com/in/alejandroramoscasado/"
        target="_blank"
        >LinkedIn Alejandro Ramos Casado</a
      >
    </p>
    <p class="subtitle is-4 has-text-black has-text-centered">
      ¡No olvides ver mi Currículum Vitae!
      <br />
      <a
        href="https://drive.google.com/file/d/101wqVS622fxIvwle3D57HvTfwjzielyZ/view?usp=sharing"
        target="_blank"
        class="title is-1 has-text-info"
        (click)="showToast()"
        >CV</a
      >
    </p>
  </div>
</section>
