<section class="hero is-fullheight is-default is-bold fadein">
  <div class="container is-fullhd fixed-grid has-3-cols has-1-cols-mobile p-4">
    <p class="title is-3 has-text-black">{{ "contact.title" | translate }}</p>
    <p class="subtitle">{{ "contact.subtitle" | translate }}</p>
    <hr />
    <p class="subtitle is-4 has-text-black">
      {{ "contact.email.label" | translate }}
      <a href="mailto:{{ 'contact.email.address' | translate }}">
        {{ "contact.email.address" | translate }}
      </a>
    </p>
    <p class="subtitle is-4 has-text-black">
      {{ "contact.phone.label" | translate }}
      <a href="tel:{{ 'contact.phone.number' | translate }}">
        {{ "contact.phone.number" | translate }}
      </a>
    </p>
    <p class="subtitle is-4 has-text-black">
      {{ "contact.linkedin.label" | translate }}
      <img
        src="{{ 'contact.linkedin.icon' | translate }}"
        alt="Icono LinkedIn"
        width="25px"
      />
      :
      <a href="{{ 'contact.linkedin.url' | translate }}" target="_blank">
        {{ "contact.linkedin.text" | translate }}
      </a>
    </p>
    <p class="subtitle is-4 has-text-black has-text-centered">
      {{ "contact.resume.text" | translate }}
      <br />
      <a
        href="{{ 'contact.resume.url' | translate }}"
        target="_blank"
        class="title is-1 has-text-info"
        (click)="showToast()"
      >
        {{ "contact.resume.button" | translate }}
      </a>
    </p>
  </div>
</section>
