<section class="hero is-white is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title is-1">Alejandro Ramos Casado</p>
      <p class="subtitle">Página de presentación personal</p>
      <figure>
        <img class="pfp-image" src="/assets/pfp.jpg" />
      </figure>
      <p class="title is-3">
        es un
        <ngx-typed-writer
          [strings]="[
            'Desarrollador Web',
            'Artista Técnico',
            'Riggeador',
            'Modelador 3D'
          ]"
          [shuffle]="true"
          [isHTML]="true"
          [backSpeed]="20"
          [typeSpeed]="30"
        >
        </ngx-typed-writer>
      </p>
      <p class="title is-3">Descripción personal:</p>
      <p class="notification container is-fluid">
        Alejandro Ramos Casado es un programador web y artista técnico con
        sólida experiencia en desarrollo de aplicaciones y entornos
        interactivos. Ha trabajado en proyectos de diversa índole, desde
        administración de sistemas y desarrollo web hasta rigging de personajes
        3D y dirección de proyectos de realidad virtual. Con habilidades
        avanzadas en Java, JavaScript/TypeScript, y familiaridad con frameworks
        como React y Spring, Alejandro también destaca por su manejo de motores
        gráficos como Blender y Godot. Es un profesional autodidacta, orientado
        al trabajo en equipo y comprometido con el aprendizaje continuo,
        cualidades que lo convierten en un recurso valioso en el ámbito
        tecnológico y creativo.
      </p>
    </div>
  </div>
</section>
