<section class="hero is-white is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title is-1" data-aos="fade-up">Alejandro Ramos Casado</p>
      <p class="subtitle" data-aos="fade-up">Página de presentación personal</p>
      <figure data-aos="zoom-in">
        <img class="pfp-image" src="/assets/pfp.jpg" />
      </figure>
      <p class="title is-3">
        es un
        <ngx-typed-writer
          class="typewriter"
          [strings]="[
            'Desarrollador Web',
            'Artista Técnico',
            'Riggeador',
            'Modelador 3D'
          ]"
          [shuffle]="true"
          [isHTML]="true"
          [backSpeed]="20"
          [typeSpeed]="30"
        >
        </ngx-typed-writer>
      </p>
      <p class="title is-3">Descripción personal:</p>
      <p class="notification container is-fluid" data-aos="zoom-in">
        Alejandro Ramos Casado es programador web y artista técnico, con
        experiencia en desarrollo de aplicaciones, entornos 3D y sistemas
        interactivos. Especializado en JavaScript, Java y frameworks como React,
        también maneja motores gráficos como Blender y Godot. Su enfoque
        autodidacta y habilidades en trabajo en equipo destacan en proyectos
        tecnológicos y creativos.
      </p>
    </div>
  </div>
</section>
<!-- Scroll Indicator -->
<div class="scroll-indicator" *ngIf="!hasScrolled">
  <span>Scroll</span>
  <div class="arrow-down"></div>
</div>
