<section class="hero is-white is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title is-1" data-aos="fade-up">{{ home.title }}</p>
      <p class="subtitle" data-aos="fade-up">{{ home.pageDescription }}</p>
      <figure data-aos="fade-up">
        <img
          class="pfp-image"
          src="{{ home.imgPfp }}"
          alt="{{ home.imgPfpAlt }}"
        />
      </figure>
      <p class="title is-3">
        es un
        <ngx-typed-writer
          class="typewriter"
          [strings]="home.phrases"
          [shuffle]="true"
          [isHTML]="true"
          [backSpeed]="20"
          [typeSpeed]="30"
        >
        </ngx-typed-writer>
      </p>
      <p class="title is-3">Descripción personal:</p>
      <p class="notification container is-fluid" data-aos="zoom-in">
        {{ home.description }}
      </p>
    </div>
  </div>
</section>
<!-- Scroll Indicator -->
<div class="scroll-indicator" *ngIf="!hasScrolled">
  <span>Scroll</span>
  <div class="arrow-down"></div>
</div>
