.pfp-image {
  border-radius: 100vh;
  width: 300px;
  margin: 20px;
}

.typewriter {
  text-shadow: 3px 3px #cfcfcf;
}

.button {
  border: 3px solid black;
}

@media (min-width: 1024px) {
  .scroll-indicator {
    display: none;
  }
}
