<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a
      class="navbar-item"
      [routerLink]="['/home']"
      routerLinkActive="router-link-active"
    >
      <img src="/assets/arcLogo.svg" alt="" />
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a
        class="navbar-item"
        [routerLink]="['/home']"
        routerLinkActive="router-link-active"
      >
        Inicio
      </a>

      <a
        class="navbar-item"
        [routerLink]="['/experience']"
        routerLinkActive="router-link-active"
      >
        Experiencia
      </a>

      <a
        class="navbar-item"
        [routerLink]="['/education']"
        routerLinkActive="router-link-active"
      >
        Educación
      </a>

      <a
        class="navbar-item"
        [routerLink]="['/knowledge']"
        routerLinkActive="router-link-active"
      >
        Conocimientos
      </a>
    </div>
  </div>
</nav>

<!-- Content -->
<router-outlet></router-outlet>
