.arcSvg {
  fill: white;
}

.logo:active .arcSvg {
  fill-opacity: 0.5;
}

.navbar-brand {
  flex-grow: 1;
  justify-content: center;
}

.navbar-start {
  flex-grow: 1;
  justify-content: center;
}

@media (max-width: 767px) {
  fa-icon {
    margin: 4px;
  }
}
