<section class="hero is-fullheight is-default is-bold">
  <div class="container is-fullhd fixed-grid has-3-cols has-1-cols-mobile p-4">
    <p class="title has-text-black">Sobre esta web</p>
    <p class="subtitle">¿Por qué esta página? | ¿Para qué sirve?</p>
    <hr />
    <p class="subtitle has-text-black">
      ¡Buenas 👋! Esta web sirve como portfolio personal y a la vez como
      proyecto para aprender más sobre Angular y un framework de CSS que me
      gusta mucho llamado Bulma.
    </p>
    <p class="subtitle has-text-black">
      Para crearla, usé Angular 18 con Server Side Rendering, Bulma como
      framework de CSS, AOS para las animaciones y Gulp para su compresión.
      También me gusta usar ESLint para tener el código más ordenado y Vercel me
      ha parecido una muy buena idea como plataforma de hosting para el proyecto
      😎.
    </p>
    <p class="subtitle has-text-black">
      También, ya que soy propietario del dominio <b>mapach.es</b> 🦝, he
      decidido ponerlo en uso utilizándolo para esta página 🌟.
    </p>
  </div>
</section>
