<div class="fixed-grid has-3-cols has-1-cols-mobile p-4">
  <div class="grid">
    <!-- Card 1 -->
    <div class="card" data-aos="fade-up">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="/assets/adaitsLogo.png" alt="Logo TLP" />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img
                src="https://bulma.io/assets/images/placeholders/96x96.png"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Desarrollo de Aplicaciones Web (DAW)</p>
            <p class="subtitle is-6">ADA-ITS - Sevilla, 2024 - Ahora</p>
          </div>
        </div>

        <div class="content">
          <p class="subtitle">Desarrollo de Aplicaciones Web</p>
        </div>
        <footer class="card-footer">
          <a
            class="button card-footer-item is-success"
            [routerLink]="['/exp-0']"
            routerLinkActive="router-link-active"
            >Ver más</a
          >
        </footer>
      </div>
    </div>
    <!-- Card 2 -->
    <div class="card" data-aos="fade-up">
      <div class="card-image">
        <figure class="image is-4by3" data-aos="zoom-in">
          <img src="/assets/eusaLogo.png" alt="Placeholder image" />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img
                src="https://bulma.io/assets/images/placeholders/96x96.png"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">
              Animación 3D, Juegos y Entornos Interactivos
            </p>
            <p class="subtitle is-6">
              CENTRO UNIVERSITARIO EUSA - Sevilla, 2020-2022
            </p>
          </div>
        </div>

        <div class="content">
          <p class="subtitle">Animación 3D, Juegos y Entornos Interactivos</p>
        </div>
        <footer class="card-footer">
          <a
            class="button card-footer-item is-success"
            [routerLink]="['/exp-1']"
            routerLinkActive="router-link-active"
            >Ver más</a
          >
        </footer>
      </div>
    </div>
    <!-- Card 3 -->
    <div class="card" data-aos="fade-up">
      <div class="card-image">
        <figure class="image is-4by3" data-aos="zoom-in">
          <img src="/assets/dhPic.png" alt="Placeholder image" />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img
                src="https://bulma.io/assets/images/placeholders/96x96.png"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Sistemas Microinformáticos y Redes</p>
            <p class="subtitle is-6">
              IES DELGADO HERNÁNDEZ, Bollullos Par Del Condado - 2017-2019
            </p>
          </div>
        </div>

        <div class="content">
          <p class="subtitle">Sistemas Microinformáticos y Redes</p>
        </div>
        <footer class="card-footer">
          <a
            class="button card-footer-item is-success"
            [routerLink]="['/exp-2']"
            routerLinkActive="router-link-active"
            >Ver más</a
          >
        </footer>
      </div>
    </div>
  </div>
</div>
