@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  font-family: Outfit;
}

body,
.hero {
  background: rgb(235, 234, 245);
  background: linear-gradient(
    0deg,
    rgb(231, 229, 252) 0%,
    rgba(255, 255, 255, 1) 30%
  );
}
