@font-face {
  font-family: "Outfit";
  font-weight: 100;
  font-style: normal;
  src: url(/assets/font/Outfit-Thin.woff2) format("woff2");
}

@font-face {
  font-family: "Outfit";
  font-weight: 300;
  font-style: normal;
  src: url(/assets/font/Outfit-Light.woff2) format("woff2");
}

@font-face {
  font-family: "Outfit";
  font-weight: 400;
  font-style: normal;
  src: url(/assets/font/Outfit-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Outfit";
  font-weight: 500;
  font-style: normal;
  src: url(/assets/font/Outfit-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Outfit";
  font-weight: 700;
  font-style: normal;
  src: url(/assets/font/Outfit-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Outfit";
  font-weight: 900;
  font-style: normal;
  src: url(/assets/font/Outfit-Black.woff2) format("woff2");
}

/* Nerd Fonts Symbols */
@font-face {
  font-family: "SymbolsNerdFonts";
  font-weight: 100;
  font-style: normal;
  src: url(/assets/font/SymbolsNerdFont-Regular.woff2) format("woff2");
}

* {
  font-family: "Outfit", serif;
}

body,
.hero {
  background: rgb(235, 234, 245);
  background: linear-gradient(
    0deg,
    rgb(231, 229, 252) 0%,
    rgba(255, 255, 255, 1) 30%
  );
}

.fixed-grid .card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card-content .content {
  flex-grow: 1;
}

.card-footer {
  margin-top: auto;
}

/* Fade in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadein {
  animation: fadeIn 0.3s ease-in-out;
}
