<section class="hero is-white is-fullheight-with-navbar fadein">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title is-1">
        {{ "home.title1" | translate }}
      </p>
      <p class="subtitle">
        {{ "home.description" | translate }}
      </p>
      <div>
        <figure>
          <img
            class="pfp-image"
            src="{{ home.imgPfp }}"
            alt="{{ home.imgPfpAlt }}"
          />
        </figure>
        <p class="title is-3">
          <ngx-typed-writer
            class="typewriter"
            [strings]="'home.phrases' | translate"
            [shuffle]="true"
            [isHTML]="true"
            [backSpeed]="20"
            [typeSpeed]="30"
          >
          </ngx-typed-writer>
        </p>
        <a
          href="https://drive.google.com/file/d/101wqVS622fxIvwle3D57HvTfwjzielyZ/view?usp=sharing"
          target="_blank"
          class="button is-medium is-info is-light"
          (click)="showToast()"
          >{{ "home.cv" | translate }}</a
        >
        <p class="title is-3">{{ "home.title2" | translate }}</p>
        <p class="notification container is-fluid">
          {{ "home.bio" | translate }}
        </p>
      </div>
    </div>
  </div>
</section>
